
/* hero section */
.landing__section {
    background-image: url(../media/images/bulb-5258341_1920.jpg);
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__text h1{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

.hero__desc{
    text-align: center;
    width: 100%;
    max-width: 950px;

}

#hero__signup {
    background-color: rgb(4, 184, 4);
    color: white;
    padding: 8px 25px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
}

#hero__login {
    background-color: rgb(230, 229, 229);
    color: black;
    padding: 8px 25px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    margin-left: 20px;
}