.otp__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form input {
    background-color: rgb(230, 229, 229);
    border: none;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    padding-left: 20px;
    color: rgb(66, 66, 66);
    font-size: small;
    letter-spacing: 3px;
}

form legend {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: rgb(27, 80, 27);
}

:focus {
    outline: none;
}

::placeholder {
    font-style: italic;
    color: rgb(173, 172, 172)
}

.otp__form button {
    border: none;
    background-color: rgb(141, 221, 141);
    color: rgb(27, 80, 27);
    padding: 12px 24px;
    border-radius: 50px;
    width: 200px;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
}

.submit__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp__form button:hover {
    background-color: rgb(84, 202, 84);
}